<!doctype html>
<meta charset="utf-8">
<title> La petite application de Souley </title>

<p>Pour Alexandre - <%= "Coucou " * 4 %></p>


<p>Debug
<%= @data.inspect %>
</p>

<form action="/" method="post">
  <label>
    id
    <input name="id">
  </label>
  <label>
    nom
    <input name="name">
  </label>
  <label>
    email
    <input name="email">
  </label>
  <label>
    message
    <textarea name="message"></textarea>
  </label>
  <button type="submit">Envoyer</button>
</form>
